html {
  font-size: 10;
  font-family: 'Roboto';
  color: #F2E2DC;
  /* border: 5px solid black; */
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 50px;
  /* text-shadow: -1px -1px 0 #59180A, 1px -1px 0 #59180A, -1px 1px 0 #59180A, 1px 1px 0 #59180A; */
}

h2 {
  font-size: 45px;
  text-align: center;
  margin: 0;
  padding: 50px;
  /* text-shadow: -1px -1px 0 #59180A, 1px -1px 0 #59180A, -1px 1px 0 #59180A, 1px 1px 0 #59180A; */  
}

p, li {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-align: center;
}

body {
  /* width: 600px; */
  margin: 0 auto;
  background-color: #82B0D9;
  padding: 0px 20px 20px 20px;
  /* border: 5px solid black; */
}

img {
  display: block;
  margin: 0 auto;
  width: 300px;

}



b {
  font-size: 25px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  width: 33%;
  height: 263px;
  /* padding: 5px; */
  /* border: 1px solid #000; */
}

.columnLeft {
  float: left;
  width: 23%;
  height: 133px;
  padding-top: 130px;
  padding-left: 10%;
  /* border: 1px solid #000; */

}

.columnRight {
  float: left;
  text-align: right;
  width: 23%;
  height: 133px;
  padding-top: 130px;
  padding-right: 10%;
}

.video {

  width: 100%;
  height: 100%;

}

.pdf {
  width: 50%;
  height: 750px;
  border: none;
  display: block;
  margin: 0 auto;

}

.contact {
  /* border: 1px solid #000; */
  line-height: 2.1;
  font-weight: normal;
}

i {
  padding-left: 35%;
}

.leftIcon {
  text-align: right;
  float: left;
  width: 33%;
}
.rightIcon {
  float: left;
  width: 61%;
  padding-left: 5%;
}

.fas, .fab {
  text-decoration: none;
}

.fas:hover, .fab:hover {
  opacity: 0.5;
}

.fa-envelope, .fa-linkedin, .fa-github, .fa-home {
  background: #82B0D9;
  color: #F2E2DC;
}