html {
  font-size: 10;
  font-family: 'Roboto';
  color: #F2E2DC;
  /* border: 5px solid black; */
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  /* text-shadow: -1px -1px 0 #59180A, 1px -1px 0 #59180A, -1px 1px 0 #59180A, 1px 1px 0 #59180A; */
}

h2 {
  font-size: 45px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  /* text-shadow: -1px -1px 0 #59180A, 1px -1px 0 #59180A, -1px 1px 0 #59180A, 1px 1px 0 #59180A; */  
}

p, li {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-align: center;
}

body {
  /* width: 600px; */
  margin: 0 auto;
  background-color: #82B0D9;
  padding: 0px 20px 20px 20px;
  /* border: 5px solid black; */
}

img {
  display: block;
  margin: 0 auto;
  width: 300px;

}

iframe {
  display: block;
  margin: auto;
  float: none;
}

.div1 {
  float: left;
  padding-left: 150px;
  padding-top: 150px;
}

.div2 {
  float: right;
  text-align: right;
  padding-right: 150px;
  padding-top: 150px;
}

b {
  font-size: 25px;
}