html {
  font-size: 10;
  font-family: Garamond;
  color: black;
  /* border: 5px solid black; */
  scroll-behavior: smooth;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 50px;
  /* text-shadow: -1px -1px 0 #59180A, 1px -1px 0 #59180A, -1px 1px 0 #59180A, 1px 1px 0 #59180A; */
}

h2 {
  font-size: 45px;
  text-align: center;
  margin: 0;
  padding: 50px;
  line-height: 1.5 * var(font-size);
  /* text-shadow: -1px -1px 0 #59180A, 1px -1px 0 #59180A, -1px 1px 0 #59180A, 1px 1px 0 #59180A; */  
}

p, li {
  font-size: 22px;
  line-height: 1.2 * var(font-size);
  letter-spacing: 1px;
  text-align: center;

}

body {
  /* width: 600px; */
  margin: 0 auto;
  background-color: white;
  padding: 0px 20px 20px 20px;
  /* border: 5px solid black; */
}

img {
  display: block;
  margin: 0 auto;
  width: 300px;
  /* padding-top: 50px; */
  border: 1px solid lightgray;
  border-radius: 1cap;
  box-shadow: 5px 5px 7px lightgray;
}



b {
  font-size: 25px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  width: 33%;
  height: 263px;
  /* padding: 5px; */
  /* border: 1px solid #000; */
}

.columnLeft {
  float: left;
  width: 23%;
  height: 133px;
  padding-top: 130px;
  padding-left: 10%;
  /* border: 1px solid #000; */

}

.columnRight {
  float: left;
  text-align: right;
  width: 23%;
  height: 133px;
  padding-top: 130px;
  padding-right: 10%;
}

.columnDescription {
  font-size: large;
  padding-right: 20%;
  flex-wrap: wrap;
  font-weight: normal;
}

.video {

  width: 100%;
  height: 100%;
  /* filter: drop-shadow(10px 15px 1px #F2E2DC); */
  border: 1px solid lightgrey;
  border-radius: 1cap;
  box-shadow: 5px 5px 7px lightgray;
}

.pdf {
  width: 50%;
  height: 750px;
  border: 0px solid black;
  display: block;
  margin: 0 auto;
}

.contact {
  /* border: 1px solid #000; */
  line-height: 2.1;
  font-weight: normal;
}

i {
  padding-left: 35%;
}

.leftIcon {
  text-align: right;
  float: left;
  width: 33%;
}
.rightIcon {
  float: left;
  width: 61%;
  padding-left: 5%;
}

.fas, .fab {
  text-decoration: none;
}

.fas:hover, .fab:hover {
  opacity: 0.5;
}

.fa-envelope, .fa-linkedin, .fa-github, .fa-home {
  background: white;
  color: black;
}

.tab {
  /* overflow: hidden; */
  background-color: black;
  padding: none;
  font-size: larger;
  text-align: center;
  border: none;
  margin: none;
  /* padding-bottom: 100px; */
  height: 30px;
  line-height: 30px;
}

.tabInd {
  text-decoration: none;
  /* padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px; */
  margin-right: 50px;
  color: white;
  /* border: 1px solid #000; */
  /* white-space: nowrap; */
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  display: inline-block;
  line-height: 31px;
}

.tabInd:hover {
  background-color: white;
  color: black;
}

#myBtnUp {
  display: none;
  bottom: 30px;
  right: 40px;
  z-index: 99;
  outline: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding: none;
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  font-size: 50px;
  width: 50px;
  /* border: 1px solid #000; */
  text-decoration: none;
  position: fixed;
}

.fa-arrow-alt-circle-up {
  filter:drop-shadow(1px 1px 1px #364959);
}
